/* table,th {
    border: dashed red;
} */

p{
    color : red;
}
img {
    border-radius: 50% ;
    height: 400;
}
body{
    margin: 0;
}
hr{
    /* background-color: white; */
    border-style: dotted none none; 
    /* height: 0;  */
    width: 30%;
    border-color: gray;
    border-width: 5px;
    margin-bottom: 0;
}
.header{
    margin-bottom: 0;
    background-color: #0b9716;
}
.middle{
    margin-top: 0;
    background-color: #F94C10;
}
a {
    background-color: cornsilk;
}